.showContact {
  width: 100%;
  border-radius: 20px;
  text-align: center;
  margin-top: 200px;
  background-color: rgb(21, 19, 19);
  padding: 40px 0;
  border: solid 1px #9a9da2;
}
.sub_head{ 
    color: white;
    opacity: 0.7;
    font-size: 20px;
}
.contactBtn{
    color: #1e1e1e;
	opacity: 0.7;
	background-color: white;
	padding: 13px 30px;
	font-size: 18px;
	border-radius: 10%;
	border: 2px solid #1e1e1e;
}
.contactBtn:hover {
  text-decoration: none;
  color: #1e1e1e;
  opacity: 0.5;
}
@media (max-width: 1025px) {
  .showContact {
    margin-top: 150px;
  }
  .sub_head {
    font-size: 18px;
  }
  .contactBtn {
    font-size: 15px;
  }
}
@media (max-width: 1025px) {
  .showContact {
    margin-top: 150px;
  }
  .sub_head {
    font-size: 18px;
  }
  .contactBtn {
    font-size: 15px;
  }
}
@media (max-width: 1025px) {
  .showContact {
    margin-top: 130px;
  }
  .sub_head {
    font-size: 15px;
  }
  .contactBtn {
    font-size: 13px;
  }
}
@media (max-width: 560px) {
  .showContact {
    margin-top: 100px;
  }
  .header {
    margin-bottom: 30px;
  }
}
